<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8>
<title>Insert title here</title>
<link rel="
	stylesheet" type="text/css"
	href="bootstrap-3.3.6-dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/myStyle.css" />
<link href="bootstrap-3.3.6-dist/css/bootstrap-theme.css"
	rel="stylesheet" />

</head>
<body>


 <div ng-app="addApp">
    <div class="wraper" ng-controller="modifyCtrl">
    
                <table>
                    <thead>
                        <tr>
                            <th>Name:</th>
                            <th>Date Of Birth</th>
                            <th>Email Id</th>
                            <th>Phone No.</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tableData in tabelsData">
                            <td>
                                <div ng-hide="editingData[tableData.id]">{{tableData.name | uppercase}}</div>
                                <div ng-show="editingData[tableData.id]"><input type="text" ng-model="tableData.name" /></div>
                            </td>
                            <td>
                                <div ng-hide="editingData[tableData.id]">{{tableData.dob}}</div>
                                <div ng-show="editingData[tableData.id]"><input type="text" ng-model="tableData.dob" /></div>
                            </td>
                            <td>
                                <div ng-hide="editingData[tableData.id]">{{tableData.emailId}}</div>
                                <div ng-show="editingData[tableData.id]"><input type="text" ng-model="tableData.emailId" /></div>
                            </td>
                            <td>
                                <div ng-hide="editingData[tableData.id]">{{tableData.phone}}</div>
                                <div ng-show="editingData[tableData.id]"><input type="text" ng-model="tableData.phone" /></div>
                            </td>
                            <td>
                                <div ng-hide="editingData[tableData.id]">{{tableData.address}}</div>
                                <div ng-show="editingData[tableData.id]">
                                    <textarea ng-model="tableData.address"></textarea>
                                </div>
                            </td>
                            <td>
                                <button ng-hide="editingData[tableData.id]" ng-click="modify(tableData)">Modify</button>
                                <button ng-show="editingData[tableData.id]" ng-click="update(tableData)">Update</button>
                                <button ng-hide="viewField">Add</button>
                                <button ng-hide="viewField">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
    
    </div>


	<script type="text/javascript" src="angular/angular.min.js">
		var app = angular.module('addApp', []);

		app
				.controller(
						'modifyCtrl',
						[
								'$scope',
								function($scope) {
									$scope.tabelsData = [ {
										'name' : 'rohit',
										'dob' : '15-august-1985',
										'emailId' : 'rohit@rohit.com',
										'phone' : '9999999999',
										'address' : 'Delhi Rohini',
										'id' : '0'
									}, {
										'name' : 'aman',
										'dob' : '26-july-1975',
										'emailId' : 'haryanat@hr.com',
										'phone' : '9874563210',
										'address' : 'Haryana Sonepat',
										'id' : '1'
									}, {
										'name' : 'devraj',
										'dob' : '27-march-1980',
										'emailId' : 'punjab@punjab.com',
										'phone' : '7410258963',
										'address' : 'Punjab AmritSar',
										'id' : '2'
									} ];

									$scope.editingData = {};

									for (var i = 0, length = $scope.tabelsData.length; i < length; i++) {
										$scope.editingData[$scope.tabelsData[i].id] = false;
									}

									$scope.modify = function(tableData) {
										$scope.editingData[tableData.id] = true;
									};

									$scope.update = function(tableData) {
										$scope.editingData[tableData.id] = false;
									};

								} ]);
	</script>

</body>
</html>